@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Modak&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Modak&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');


body{
    background-image: linear-gradient(to right, #6A8C69, #53736A);
    background-attachment: fixed;
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #024554;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color:  #A8B545;
    text-align: center;
    text-shadow: 1px 1px 2px  #A8B545;
    font: italic bold 3em "Saira"
}
h2 { 
    color: #53736A;
    font: normal 2em "Saira"
}
p{ 
    text-align: justify;
    font: italic bolder 1em "Roboto" ;

}