@charset "UTF-8";

*{
    padding: 0px;
    width: 0px;
}
html, body{
    min-height: 100vh;
    background-color: darkgrey;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}
header > p {
    padding-bottom: 50px;
}
a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
section{
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}
section.imagem > p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.253);
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
}