@charset "UTF-8";

/* EM HTML É ID    = EM CSS É #
   EM HTML É CLASS = EM CSS É .
*/

body {
    background-color: rgb(65, 110, 95);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 172, 131);
}
h1#principal {
    text-align: center;
    background-color: rgb(62, 133, 62);
    color: white;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(6, 139, 95);
}
p{
    color: white;
}
.basico{
    color:  rgb(65, 196, 83);

}
.intermediario{
    color:  rgb(193, 196, 65);

}

.avancado{
    color: rgb(196, 65, 65);

}

.destaque{
    background-color: rgb(104, 65, 196);

}