@charset "UTF-8";

*  { 
    font-family:Arial, Helvetica, sans-serif;
}
 /* Para modificar a espessura da fonte, basta usar:
 lighter normal bold bolder */

body {
    background-image: linear-gradient(to right, #6A8C69, #53736A);
    background-attachment: fixed;
    }
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #024554;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #A8B545;
    text-align: center;
    text-shadow: 1px 1px 2px  #A8B545;
    /* shorthand font 
    - font-style -> font-weight -> font-size -> font-family*/
}

h2 {
    color: #53736A;
}

p {
    text-align: justify;
}